$primary-color: #ff6347;
$secondary-color: #333;
$background-color: #f7f7f7;
$white-color: white;
$reviews-color: #C72C41;
$reviews-color2: #4CAF50;
$reviews-color3: #FFD700;



$border-radius: 8px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$padding: 2rem;
